
/* The # is used to select based on the "id" attribute of the tag in the html */

#fotografia {
    height: 100%;
    width: 100%;
}

#leftColumn {
    position: relative;
    width: 30%;
    float: left;
}

#rightColumn {
    position: relative;
    width: 70%;
    float: left;
}

/* The . is used to select based on the "class" attribute of the tag or tags in the html*/
/* This is used to select multiple tags at the same time */

.texto {
    padding-left: 100px;
}